<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae nemo facilis reprehenderit, quod debitis voluptatem assumenda voluptate, possimus blanditiis doloribus error vel eveniet sapiente nisi sequi asperiores cum aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae nemo facilis reprehenderit, quod debitis voluptatem assumenda voluptate, possimus blanditiis doloribus error vel eveniet sapiente nisi sequi asperiores cum aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae nemo facilis reprehenderit, quod debitis voluptatem assumenda voluptate, possimus blanditiis doloribus error vel eveniet sapiente nisi sequi asperiores cum aut.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>